.list {
    background-color: var(--color-white);
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.list:first-child {
    border-radius: 15px 15px 0 0;
}

.ticket {
    border: 1px black solid;
    border-bottom: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.newticket {
    border: 1px black solid;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}