.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal > p {
    margin-right: 20px;
    cursor: pointer;
}

.main {
    width: var(--md-width);
    padding: 50px 0;
    margin: 0 auto auto auto;
}

.nav {
    border-bottom: 1px solid black;
}

.navHolder {
    width: var(--md-width);
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    cursor: pointer
}

.flexer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer {
    background-color: var(--color-off-white);
    height: 10vh;
}

.footerHolder {
    width: var(--md-width);
    height: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}