.nav {
    border-bottom: 1px solid black;
}

.navHolder {
    width: var(--md-width);
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    cursor: pointer
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal > p {
    margin-right: 20px;
    cursor: pointer;
}