.nav {
    border-bottom: 1px solid black;
}

.navHolder {
    width: var(--md-width);
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}