.queues {
    width: var(--md-width);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    margin: auto;
}

.queueHolder {
    background-color: var(--color-off-white);
    border: 1px black solid;
    margin: 10px;
    padding: 10px 20px;
    display: grid;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.newQueueHolder {
    border: 1px black dashed;
}

.queueHolder:hover {
    background-color: var(--color-white);
}

.queueExpired {
    background-color: var(--color-off-white);
    border: 1px black dashed;
}

.queueInfo {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.courseTitle {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 20px 0;
    align-items: center;
}